/* NavBar Style */

nav {
  white-space: nowrap;
}
.logo {
  width: 91px;
  height: 34px;
  padding-left: 25px;
}

ul {
  list-style: none;
}

body {
  margin: 0;
}

.navigation {
  margin: 20px 10px 0 10px;
}

.navigation-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation .nav-menu {
  display: flex;
  gap: 5px;
}

.search-bar {
  border: 2px solid black;
  border-radius: 30px;
  width: 95%;
  height: 30px;
  padding: 5px 0 5px 35px;
}

.nav-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-item.left {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-item.right {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-item p {
  cursor: pointer;
  color: black;
  transition: color 0.3s ease;
  font-family: Arial;
  font-size: 13px;
}

.nav-item p:hover {
  color: #6d28d2;
}

.input-wrapper {
  position: relative;
  width: 900px;
}

.input-wrapper i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.nav-item i {
  cursor: pointer;
  color: black;
  transition: color 0.3s ease;
}

.nav-item i:hover {
  color: #6d28d2;
}

a {
  text-decoration: none;
}

.nav-button {
  display: flex;
  gap: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #6d28d2;
  border-radius: 8px;
}

.button.login {
  padding: 10px 20px;
}

.button.login:hover {
  cursor: pointer;
}

.button.signup {
  border: none;
  background-color: #6d28d2;
  padding: 10px 20px;
}

.button.signup:hover {
  cursor: pointer;
}

.button.globe {
  padding: 10px 10px;
}

.button.globe:hover {
  cursor: pointer;
}

.nav-link.signup {
  color: white;
  font-weight: bolder;
}

.nav-link.login {
  color: #6d28d2;
  font-weight: bolder;
}

/* Hero Content Style */

.hero-content {
  margin: 25px 0 25px 0;
  border-top: 2px solid rgba(0, 0, 0, 0.151);
  display: flex;
  justify-content: space-evenly;
}

.top-row {
  margin-right: 650px;
}

.hero-content .text {
  padding-left: 35px;
}

.search-results {
  gap: 20px;
  margin-top: 20px;
}

.search-results ul {
  list-style: none;
}

.search-results .results {
  display: flex;
  gap: 30px;
}

.search-results .results li {
  cursor: pointer;
}

.results i {
  color: #6d28d2;
  padding-right: 5px;
}

/* Filters and Cards */

.filter-list {
  display: flex;
  justify-content: space-evenly;
}
.filters {
  display: flex;
  gap: 10px;
}

.filters li {
  border: 1px solid black;
  padding: 10px;
  border-radius: 30px;
}

.filters i {
  padding: 0 5px 0 5px;
}

.more-filters {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cards */

.cards.one {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  justify-content: center;
  gap: 40px;
  margin: 40px;
}

.cards.one h3 {
  margin: 0;
}

.cards.one p {
  margin: 0;
}

.cards.one .creator {
  font-size: 14px;
  opacity: 0.7;
}

.card img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.card {
  /* border: 2px solid black; */
  border-radius: 10px;
  overflow: hidden;
  display: block;
  min-width: 0;
  text-align: center;
}

.card-content {
  padding: 0 24px 0 24px;
  line-height: 1.55;
  text-align: left;
  font-size: 20px;
}

.card-content .ratings {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  justify-content: flex-start;
  font-size: 14px;
  padding: 0;
  gap: 5px;
  align-items: center;
}
/* Bestseller Design */
.card-content .ratings .bestseller {
  background-color: aqua;
  font-weight: bolder;
  border-color: aqua;
  opacity: 0.7;
}
/* HighestRated Design */
.card-content .ratings .highest-rated {
  background-color: #dac23e;
  font-weight: bolder;
  border-color: #dac23e;
  /* opacity: 0.7; */
  color: #8b4e2b;
}
.card-content li {
  border: 1px solid rgba(0, 0, 0, 0.377);
  padding: 0 5px 0 5px;
  white-space: nowrap;
  border-radius: 5px;
}

.card-content i {
  color: orange;
}

.card-content .add-course {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content .add-course .price {
  margin: 0;
}

.previous-price {
  padding-left: 15px;
  color: gray;
  text-decoration: line-through;
  font-size: 20px;
}

.card-content .add-course .add-to-cart {
  color: #6d28d2;
  border: 2px solid #6d28d2;
  border-radius: 7px;
  font-weight: bold;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

.card-content .add-course .add-to-cart:hover {
  cursor: pointer;
  color: white;
  background-color: #6d28d2;
  scale: 1.08;
}

/* Separator */
.separator-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.separator-container .separator {
  font-size: 25px;
}

/* Cards Second Batch */

.cards.second {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 280px));
  justify-content: center;
  gap: 40px;
  margin: 40px 40px 60px 40px;
}

.cards.second h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.cards.second .creator {
  font-size: 14px;
  opacity: 0.7;
}

.cards.second img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.cards.second .card-content .new {
  background-color: #9fffa7;
  color: black;
  border: none;
  font-weight: bold;
  padding: 0 10px 0 10px;
}

/* Related Searches Design */
.related-searches {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.bottom-row {
  width: 100%;
  max-width: 100%;
  margin-right: 650px;
}

.related-searches .text {
  padding-left: 35px;
}

.searches-text {
  font-size: 20px;
  font-weight: bold;
}

.searches-text i {
  font-size: 15px;
  font-weight: bold;
}

.search-results {
  gap: 20px;
  margin-top: 20px;
}

.results li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratings li i {
  padding-right: 5px;
}

.related-results {
  width: 100%;
}

.related-results .results {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex: 0 0 auto;
}

.related-results .results li {
  border: 2px solid #6d28d2;
  padding: 5px 10px;
  border-radius: 40px;
  font-weight: bold;
  background-color: #6d28d2;
  color: white;
  white-space: nowrap;
  cursor: pointer;
}

/* Page Navigation */

.page-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.page-navigation i {
  font-size: 35px;
  color: #6d28d2;
  cursor: pointer;
}

.fa-circle-chevron-left.unavailable {
  opacity: 0.4;
  cursor: not-allowed;
  color: #6d28d2;
}

.pages {
  padding: 0;
  display: flex;
  gap: 15px;
}

.pages li {
  font-weight: bold;
  font-size: 18px;
}

.pages .page {
  color: #6d28d2;
  cursor: pointer;
}

.pages .active {
  font-weight: bold;
  border-bottom: 2px solid #6d28d2;
  cursor: default;
}

/* Footer Design */

.footer-container {
  background: oklch(29.74% 0.0362 281.74deg);
  width: 100%;
}

.company-container {
  display: flex;
  justify-content: space-between;
  align-content: centers;
  padding: 12px 48px;
  /* background-color: oklch(29.74% 0.0362 281.74deg); */
}
.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-container .company-name {
  color: #c0c4fc;
}
.text-container .company-name:hover {
  text-decoration: underline;
  cursor: pointer;
}
.text-container span {
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.company-logos img {
  margin: 12px 24px 12px 0;
}

/* More Content */
.content-container {
  border-top: 1px solid white;
  /* background-color: oklch(29.74% 0.0362 281.74deg); */
  padding: 12px 48px 0;
}

.content-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 16px 0 24px 0;
}

.content-grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, minmax(250px, 200px));
  gap: 20px;
}
.content-list {
  padding: 0;
  font-size: 15px;
  color: white;
}

.content-list li {
  margin-bottom: 10px;
  cursor: pointer;
}

.content-list li:hover {
  text-decoration: underline;
}

.content-item .title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0 10px 0;
}

.content-grid.bottom {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, minmax(250px, 200px));
  gap: 20px;
}

.content-container.bottom {
  border: none;
  background-color: oklch(25.65% 0.0265 278.04deg);
  padding: 12px 48px 20px;
}

/* Bottom Container */

.udemy-footer {
  padding: 20px 0 20px 0;
  width: 100%;
  background: oklch(25.65% 0.0265 278.04deg);
  border-top: 1px solid white;
}

.bottom-container {
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.bottom-container img {
  width: 91px;
  height: 34px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.Udemy-Logo {
  cursor: pointer;
}
.copyright-container {
  display: flex;
  align-items: center;
  color: white;
}
.language-btn .language {
  display: flex;
  gap: 5px;
}
.bottom-container button {
  all: unset;
  color: white;
  cursor: pointer;
}
.Cookie-btn .cookie:hover {
  text-decoration: underline;
  cursor: pointer;
}
